<!DOCTYPE html>
<html lang="en">
<head>
    <title>Super Speciality Hospital</title>
    <link rel="stylesheet" href="<%= asset_path 'styles.css' %>">
</head>
<body>
    <div class="container">
        <h1>Super Speciality Hospital</h1>
        <p>Your trusted healthcare partner</p>
        <a href="<%= new_patient_path %>" class="btn">Book an Appointment</a>
    </div>
</body>
</html>
