body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #2c3e50;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2980b9;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-cancel:hover {
    background-color: #c0392b;
}
